@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
  }
  100% {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
  }
}

@keyframes slideUp {
  0% {
    top:0px;
    opacity: 1;
  }
  100% {
    top: -1000px;
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
}

@keyframes clicked {
  0%{
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}