/*ebook-reder의 화면*/
.ebook-reader {
  width: inherit;
  height: inherit;
  background-color: var(--lightBrown);
  border-radius: inherit;
}
.book-list{
  position: absolute;
  margin: 8px 25px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  border-radius: 30px;
  color: var(--brown);
}

.book-list input[type='radio'] {
  accent-color: var(--brown);
  width: 16px;
  height: 16px;
}
/*Text*/
.ebook-text {
  position: absolute;
  margin: 10xp, 10xp;
  width: 80%;
  height: 80%;
  left: 50%;
  bottom: 5%;
  padding: 15px;
  transform: translateX(-50%);
  font-size: 17px;
  border-radius: 20px;
  background-color: var(--brown);
  color: var(--white);
  overflow-y: scroll;
  overflow-x: hidden;
}
.ebook-text::-webkit-scrollbar {
  width: 20px;
}
.ebook-text::-webkit-scrollbar-thumb {
  background-color: var(--lightBrown);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.ebook-text::-webkit-scrollbar-track{
  background-color: var(--brown);
  border-radius: 0px 20px 20px 0px;
}