.editor-app {
  width: inherit;
  height: inherit;
  background-color: var(--darkblue);
  border-radius: inherit;
}

.editor-menu {
  transform: translateX(10%);
}
.editor-text {
  position: absolute;
  margin: 10xp, 10xp;
  width: 80%;
  height: 80%;
  left: 50%;
  bottom: 5%;
  padding: 15px;
  transform: translateX(-50%);
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black1);
  overflow-y: scroll;
  overflow-x: hidden;
}
.editor-text::-webkit-scrollbar {
  width: 20px;
}
.editor-text::-webkit-scrollbar-thumb {
  background-color: var(--lightGray);
  border-radius: 8px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.editor-text::-webkit-scrollbar-track{
  background-color: var(--white);
  border-radius: 0px 5px 5px 0px;
}