@import "reset.css";
@import "variables.css";
@import "animation.css";

@import "iphone.css";

/*Components*/
@import "components/status-bar.css";
@import "components/icon-row.css";
@import "components/todo-list.css";
@import "components/alert.css";

/*Screens*/
@import "screens/main.css";
@import "screens/lock.css";

/*Ebook*/
@import "ebookApp.css";

/*canvas*/
@import "editorApp.css";

/*font*/
@font-face {
  font-family: "hanna";
  src: url("../fonts/BMHANNAPro.ttf");
}

body {
  background: var(--white);
  color: var(--white);
  font-family: "apple-system";
  font-weight: bold;
}