@import "reset.css";
@import "variables.css";
@import "iphone.css";

/*Components*/
@import "components/status-bar.css";
@import "components/icon-row.css";
@import "components/todo-list.css";

/*Ebook*/
@import "ebookApp.css";

@font-face {
  font-family: "hanna";
  src: url("../fonts/BMHANNAPro.ttf");
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "hanna";
}