:root {
  --yellow: #fae100;
  --brown: #3c1e1e;
  --black1: #111;
  --black2: #191919;
  --black3: #1f1f1f;
  --white: #f4f6fcd2;
  --blue: #7371ee;
  --skyblue: #a1d9d6;
  --darkblue: #2d4d76;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
}
