.icon-row {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 12%;
  padding: 5px;
  /* display: flex; */
  /* justify-content: space-around; */
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-row__icon {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-right: 3px;
}
.icon-row__icon img {
  object-fit: contain;
}
.icon-row__icon span {
  display: block;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
}
.dock-bar {
  position: absolute;
  bottom: 10px;
  background-color: var(--transparent-black);
}