.icon-row {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 12%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-row__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon img {
  width: 5rem;
}
.icon-row__icon span {
  font-size: 0.8em;
  font-weight: 100;
}
.dock-bar {
  position: absolute;
  bottom: 10px;
  background-color: var(--transparent-black);
}