.phone-button {
  background-color: var(--gray);
  color: var(--white);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 3em;
}

.phone-button :active {
  filter: brightness(200%);
}
.phone-button__call i {
  pointer-events: none;
}
.phone-button__call  {
  background-color: greenyellow;
}